<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>О ПРОЕКТЕ</h2>
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Сувенирная лавка - это проект, призванный поддерживать образовательные биткоин-проекты и дарить самым активным участникам уникальными сувениры.</p>
      </div>
      <div class="col-lg-4">
        <p>Поддержи проект, чтобы получить супер пупер хреновину с надписью биткоин! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://btcpay0.voltageapp.io/apps/48nAysFyUwqxnmJRNmHtZKKmXfkq/pos" class="btn btn-lg btn-outline">
          Получить че-нибудь
        </a>
      </div>
    </div>
  </div>
</section>
